* {
	margin: 0;
	padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;   
}

.navbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-nav {
	list-style: none;
}

.navbar-nav li {
	position: relative;
	color: #0087ca;
}
.navbar-nav li::after {
  content: '';
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 10%;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
} 


.navbar-nav li:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.navbar-nav ul li a:hover{
    background-color: #ffffff;

}

.btn {
    display: inline-block;
    font-weight: 700;
    line-height: auto;
    color: #ffffff;
    text-align: center;
    text-decoration:none;
    vertical-align: middle;
    cursor:pointer;
    user-select: none;
    background-color: #ffa500;
    border: 1px solid transparent;
   
  }

  .btn:hover {
    background-color: #ffffff;
    color: #0A2133;
    border:1px solid #ffa500;
    font-size:0.75;
  }

#home{
    
      background-image: url(../img/bck.jpg);
      background-repeat: no-repeat;
      
  }

  h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  }
#intro{
      color: #ffffff;
  }

.mtop{
    margin-top: -3rem !important;
  }

.side-text{
    font-size: 1.3rem;
}
#languages-banner{
    background-color: #042e4f;
    color: #ffffff;
    width: 100%;
}

#footer{
    background-color: #0A2133;
    color: #ffffff;
}

 #footer ul li a{
    color: #ffffff;
} 

#footer ul li a {
    list-style: none;
    margin-left: 0;
    text-decoration: none;
    color: #ffffff;
    padding-left: 0;

}

#footer ul li a:hover{
    text-decoration: underline;
    background-color: #0A2133;

}
#footer  li{
    list-style: none;
    margin-left: 0;
}


.fa {
    padding: 10px;
    font-size: 30px;
    width: 18px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
  }

.fa-globe{
    color: #042e4f;
    padding: 0px;
    font-size: 20px;
    margin: 0 5px 5px 0;

}
  
.fa:hover {
      color: #ffa500;
  }

.fa-globe:hover{
    color: #042e4f;
}